#clock {
    width: 685px;
    height: 685px;
}
#clock1 {
    position: absolute;
    left: 200px;
}
#clock2 {
    position: absolute;
    left: 200px;
    transition: 2s;
}
#cifr {
    position: absolute;
    left: -2px;
    top: 10px;
    width: 700px;
    overflow: hidden;
}
.digital {
    height: 28px;
    width: 96px;
    border: 3px solid lime;
    background: darkgreen;

}
#time {
    font-family: sans-serif;
    font-size: 25px;
    color: floralwhite;
    margin-left: 10px;
}
