#clock {
    width: 685px;
    height: 685px;
    /*border: 1px solid black;*/
    /*border-radius: 430px;*/
}
#clock1 {
    position: absolute;
    left: 200px;

}
#clock2 {
    position: absolute;
    left: 200px;
    transition: 2s;
}
#cifr {
    position: absolute;
    left: -2px;
    top: 10px;
    width: 700px;
    overflow: hidden;
}

