* {
	font-family: sans-serif;
}
.sizing {
	width: 90px;
	height: 90px;
	border: 2px solid grey;
	display: inline-block;
	margin: 7px;
	text-align: center;
}
.bordered {
	width: 90px;
	height: 90px;
	border: 2px solid lightgrey;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 7px;

}
.red {
	background: red;
}
.blue {
	background: blue;
}
.acc {
	width: 300px;
	height: auto;
	background: darkgray;
	cursor: pointer;
}
.acc-block:hover {
	background: lightgrey;
}

.min {
	height: 50px;
	overflow: hidden;
	margin: 0;
}
h1 {
	margin: 0;
}



