* {
	font-family: sans-serif;
}
.sizing {
	width: 90px;
	height: 90px;
	border: 2px solid grey;
	display: inline-block;
	margin: 7px;
	text-align: center;
}
.bordered {
	width: 90px;
	height: 90px;
	border: 2px solid lightgrey;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 7px;

}
.red {
	background: red;
}
.blue {
	background: blue;
}
.acc {
	width: 700px;
	height: auto;
	background: lightgrey;
	cursor: pointer;
}
.acc-block:hover {
	background: darkgray;
}

.min {
	height: 50px;
	overflow: hidden;
	margin: 0;
}
h1 {
	margin: 0;
}
.acc-block p {
	background: white;
	padding: 5px;
}

.block-img{
	width: 150px;
	height: 150px;
	display: block;
	position: relative;
}
.hide {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
.block-img img{
	position: absolute;
	left: 0;
	top: 0;
}



